In [79]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [80]:
data = {'ID':[1,2,3,4,5,6],
       'Onion':[1,0,0,1,1,1],
       'Potato':[1,1,0,1,1,1],
       'Burger':[1,1,0,0,1,1],
       'Milk':[0,1,1,1,0,1],
       'Beer':[0,0,1,0,1,0]}

In [81]:
df = pd.DataFrame(data)

In [82]:
df = df[['ID', 'Onion', 'Potato', 'Burger', 'Milk', 'Beer' ]]

In [83]:
df

   ID  Onion  Potato  Burger  Milk  Beer
0   1      1       1       1     0     0
1   2      0       1       1     1     0
2   3      0       0       0     1     1
3   4      1       1       0     1     0
4   5      1       1       1     0     1
5   6      1       1       1     1     0

In [84]:
frequent_itemsets = apriori(df[['Onion', 'Potato', 'Burger', 'Milk', 'Beer' ]], min_support=0.50, use_colnames=True)

C:\Users\Utilisateur\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [85]:
frequent_itemsets

    support                 itemsets
0  0.666667                  (Onion)
1  0.833333                 (Potato)
2  0.666667                 (Burger)
3  0.666667                   (Milk)
4  0.666667          (Potato, Onion)
5  0.500000          (Burger, Onion)
6  0.666667         (Potato, Burger)
7  0.500000           (Potato, Milk)
8  0.500000  (Potato, Burger, Onion)

In [86]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

In [87]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Potato),(Onion),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667,1.000000
1,(Onion),(Potato),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf,0.500000
2,(Burger),(Onion),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
3,(Onion),(Burger),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
4,(Potato),(Burger),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667,1.000000
5,(Burger),(Potato),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf,0.500000
6,"(Potato, Burger)",(Onion),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
7,"(Potato, Onion)",(Burger),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
8,"(Onion, Burger)",(Potato),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf,0.333333
9,(Potato),"(Onion, Burger)",0.833333,0.500000,0.500000,0.60,1.200,0.083333,1.250000,1.000000
10,(Burger),"(Potato, Onion)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
11,(Onion),"(Potato, Burger)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333

In [88]:
rules [ (rules['lift'] >1.125)  & (rules['confidence']> 0.8)  ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(Onion),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf,0.500000
5,(Burger),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf,0.500000
8,"(Onion, Burger)",(Potato),0.500000,0.833333,0.500000,1.0,1.2,0.083333,inf,0.333333

In [89]:
retail_shopping_basket = {'ID':[1,2,3,4,5,6],
                         'Basket':[['Beer', 'Diaper', 'Pretzels', 'Chips', 'Aspirin'],
                                   ['Diaper', 'Beer', 'Chips', 'Lotion', 'Juice', 'BabyFood', 'Milk'],
                                   ['Soda', 'Chips', 'Milk'],
                                   ['Soup', 'Beer', 'Diaper', 'Milk', 'IceCream'],
                                   ['Soda', 'Coffee', 'Milk', 'Bread'],
                                   ['Beer', 'Chips']
                                  ]
                         }

In [90]:
retail = pd.DataFrame(retail_shopping_basket)

In [91]:
retail = retail[['ID', 'Basket']]

In [92]:
pd.options.display.max_colwidth=100

In [93]:
retail

   ID                                                Basket
0   1              [Beer, Diaper, Pretzels, Chips, Aspirin]
1   2  [Diaper, Beer, Chips, Lotion, Juice, BabyFood, Milk]
2   3                                   [Soda, Chips, Milk]
3   4                  [Soup, Beer, Diaper, Milk, IceCream]
4   5                           [Soda, Coffee, Milk, Bread]
5   6                                         [Beer, Chips]

In [94]:
#from sklearn.preprocessing import MultiLabelBinarizer
#mlb = MultiLabelBinarizer()
#pd.DataFrame(mlb.fit_transform(retail.Basket), columns=mlb.classes_)

In [95]:
retail = retail.drop('Basket',axis=1).join(retail.Basket.str.join(',').str.get_dummies(','))
retail

,ID,Aspirin,BabyFood,Beer,Bread,Chips,Coffee,Diaper,IceCream,Juice,Lotion,Milk,Pretzels,Soda,Soup
0,1,1,0,1,0,1,0,1,0,0,0,0,1,0,0
1,2,0,1,1,0,1,0,1,0,1,1,1,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,4,0,0,1,0,0,0,1,1,0,0,1,0,0,1
4,5,0,0,0,1,0,1,0,0,0,0,1,0,1,0
5,6,0,0,1,0,1,0,0,0,0,0,0,0,0,0

In [96]:
frequent_itemsets_2 = apriori(retail.drop('ID',axis=1), use_colnames=True)

C:\Users\Utilisateur\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [97]:
frequent_itemsets_2

    support        itemsets
0  0.666667          (Beer)
1  0.666667         (Chips)
2  0.500000        (Diaper)
3  0.666667          (Milk)
4  0.500000   (Chips, Beer)
5  0.500000  (Diaper, Beer)

In [98]:
association_rules(frequent_itemsets_2, metric='lift')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Chips),(Beer),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333,0.333333
1,(Beer),(Chips),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333,0.333333
2,(Diaper),(Beer),0.500000,0.666667,0.5,1.00,1.500,0.166667,inf,0.666667
3,(Beer),(Diaper),0.666667,0.500000,0.5,0.75,1.500,0.166667,2.000000,1.000000

In [99]:
association_rules(frequent_itemsets_2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Diaper),(Beer),0.5,0.666667,0.5,1.0,1.5,0.166667,inf,0.666667

In [100]:
movies = pd.read_csv('ml-latest-small/movies.csv')

In [101]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [102]:
movies_ohe = movies.drop('genres',axis=1).join(movies.genres.str.get_dummies())

In [103]:
pd.options.display.max_columns=100
movies_ohe.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [104]:
stat1 = movies_ohe.drop(['title', 'movieId'], axis=1).apply(pd.Series.value_counts)

stat1 = stat1.transpose().drop(0, axis=1).sort_values(by=1, ascending=False).rename(columns={1: 'No. of movies'})

stat2 = movies.join(movies.genres.str.split('|').reset_index().genres.str.len(), rsuffix='r').rename(columns={'genresr': 'genre_count'})
stat2 = stat2[stat2['genre_count'] == 1].drop('movieId', axis=1).groupby('genres').sum().sort_values(by='genre_count', ascending=False)
stat = stat1.merge(stat2, how='left', left_index=True, right_index=True).fillna(0)
stat.genre_count = stat.genre_count.astype(int)
stat.rename(columns={'genre_count': 'No. of movies with only 1 genre'}, inplace=True)
stat

,No. of movies,title,No. of movies with only 1 genre
Drama,4365,"Nixon (1995)Othello (1995)Dangerous Minds (1995)Cry, the Beloved Country (1995)Restoration (1995...",1170
Comedy,3315,Father of the Bride Part II (1995)Four Rooms (1995)Ace Ventura: When Nature Calls (1995)Bio-Dome...,809
Thriller,1729,"Jade (1995)Safe (1995)Tie That Binds, The (1995)Hideaway (1995)Red Rock West (1992)Blink (1994)F...",74
Action,1545,"Sudden Death (1995)Fair Game (1995)Under Siege 2: Dark Territory (1995)Hunted, The (1995)Bloodsp...",39
Romance,1545,Jack and Sarah (1995)Hustler White (1996)Kama Sutra: A Tale of Love (1996)Love and Other Catastr...,14
Adventure,1117,"Mark of Zorro, The (1940)Beyond the Poseidon Adventure (1979)Brenda Starr (1989)Snows of Kiliman...",11
Crime,1100,Coup de torchon (Clean Slate) (1981)Gridlock'd (1997)Keys to Tulsa (1997)Clay Pigeons (1998)Gene...,11
Horror,877,Lord of Illusions (1995)Castle Freak (1995)Cemetery Man (Dellamorte Dellamore) (1994)Eyes Withou...,183
Sci-Fi,792,2010: The Year We Make Contact (1984)Meteor (1979)It Came from Outer Space (1953)Mission to Mars...,17
Fantasy,654,"Andalusian Dog, An (Chien andalou, Un) (1929)Eaux d'artifice (1953)Inauguration of the Pleasure ...",3
Children,583,"Baby-Sitters Club, The (1995)Thomas and the Magic Railroad (2000)",2
Mystery,543,"Mike's Murder (1984)Maltese Falcon, The (a.k.a. Dangerous Female) (1931)",2
Documentary,495,Nico Icon (1995)Heidi Fleiss: Hollywood Madam (1995)Catwalk (1996)Anne Frank Remembered (1995)Ma...,365
Animation,447,"Fritz the Cat (1972)Nine Lives of Fritz the Cat, The (1974)Vincent (1982)Afro Samurai: Resurrect...",10
Musical,394,"Meet Me in St. Louis (1944)Gigi (1958)Inspector General, The (1949)Madame Butterfly (1995)Broadw...",18
War,367,Prisoner of the Mountains (Kavkazsky plennik) (1996)Pork Chop Hill (1959)Run Silent Run Deep (19...,6
Western,168,"Wyatt Earp (1994)Bad Girls (1994)Shooter, The (1997)Pale Rider (1985)High Plains Drifter (1973)R...",31
IMAX,153,0,0
Film-Noir,133,"Force of Evil (1948)Raw Deal (1948)T-Men (1947)Out of the Past (1947)Big Combo, The (1955)Railro...",10
(no genres listed),18,Scorpio Rising (1964)Doctor Who: The Time of the Doctor (2013)Ben-hur (2016)Beastie Boys: Sabota...,18

In [105]:
movies_ohe.set_index(['movieId','title'],inplace=True)
frequent_itemsets_movies = apriori(movies_ohe,use_colnames=True, min_support=0.025)
frequent_itemsets_movies

C:\Users\Utilisateur\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                  itemsets
0   0.169315                  (Action)
1   0.122411               (Adventure)
2   0.048986               (Animation)
3   0.063890                (Children)
4   0.363288                  (Comedy)
5   0.120548                   (Crime)
6   0.054247             (Documentary)
7   0.478356                   (Drama)
8   0.071671                 (Fantasy)
9   0.096110                  (Horror)
10  0.043178                 (Musical)
11  0.059507                 (Mystery)
12  0.169315                 (Romance)
13  0.086795                  (Sci-Fi)
14  0.189479                (Thriller)
15  0.040219                     (War)
16  0.058301       (Adventure, Action)
17  0.037589          (Comedy, Action)
18  0.038247           (Action, Crime)
19  0.051178           (Drama, Action)
20  0.040986          (Sci-Fi, Action)
21  0.062904        (Thriller, Action)
22  0.029260     (Children, Adventure)
23  0.036712       (Comedy, Adventure)
24  0.032438        (Drama, Adventure)
25  0.030685      (Fantasy, Adventure)
26  0.027726       (Sci-Fi, Adventure)
27  0.027068     (Children, Animation)
28  0.032877        (Children, Comedy)
29  0.032438           (Comedy, Crime)
30  0.104000           (Drama, Comedy)
31  0.026959         (Fantasy, Comedy)
32  0.090082         (Comedy, Romance)
33  0.067616            (Drama, Crime)
34  0.057863         (Thriller, Crime)
35  0.031671          (Drama, Mystery)
36  0.101260          (Drama, Romance)
37  0.087123         (Drama, Thriller)
38  0.031014              (Drama, War)
39  0.043397        (Horror, Thriller)
40  0.036055       (Mystery, Thriller)
41  0.028932        (Sci-Fi, Thriller)
42  0.035068  (Drama, Comedy, Romance)
43  0.032000  (Drama, Thriller, Crime)

In [106]:
rules_movies =  association_rules(frequent_itemsets_movies, metric='lift', min_threshold=1.25)
rules_movies

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Adventure),(Action),0.122411,0.169315,0.058301,0.476276,2.812955,0.037575,1.586111,0.734401
1,(Action),(Adventure),0.169315,0.122411,0.058301,0.344337,2.812955,0.037575,1.338475,0.775868
2,(Action),(Crime),0.169315,0.120548,0.038247,0.225890,1.873860,0.017836,1.136081,0.561395
3,(Crime),(Action),0.120548,0.169315,0.038247,0.317273,1.873860,0.017836,1.216716,0.530264
4,(Sci-Fi),(Action),0.086795,0.169315,0.040986,0.472222,2.789015,0.026291,1.573929,0.702416
5,(Action),(Sci-Fi),0.169315,0.086795,0.040986,0.242071,2.789015,0.026291,1.204870,0.772195
6,(Thriller),(Action),0.189479,0.169315,0.062904,0.331984,1.960746,0.030822,1.243510,0.604537
7,(Action),(Thriller),0.169315,0.189479,0.062904,0.371521,1.960746,0.030822,1.289654,0.589863
8,(Children),(Adventure),0.063890,0.122411,0.029260,0.457976,3.741299,0.021439,1.619096,0.782722
9,(Adventure),(Children),0.122411,0.063890,0.029260,0.239033,3.741299,0.021439,1.230158,0.834916
10,(Fantasy),(Adventure),0.071671,0.122411,0.030685,0.428135,3.497518,0.021912,1.534608,0.769213
11,(Adventure),(Fantasy),0.122411,0.071671,0.030685,0.250671,3.497518,0.021912,1.238881,0.813687
12,(Sci-Fi),(Adventure),0.086795,0.122411,0.027726,0.319444,2.609607,0.017101,1.289519,0.675424
13,(Adventure),(Sci-Fi),0.122411,0.086795,0.027726,0.226500,2.609607,0.017101,1.180614,0.702835
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122,0.944736
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205,0.929930
16,(Children),(Comedy),0.063890,0.363288,0.032877,0.514580,1.416453,0.009666,1.311672,0.314077
17,(Comedy),(Children),0.363288,0.063890,0.032877,0.090498,1.416453,0.009666,1.029255,0.461764
18,(Comedy),(Romance),0.363288,0.169315,0.090082,0.247964,1.464511,0.028572,1.104581,0.498150
19,(Romance),(Comedy),0.169315,0.363288,0.090082,0.532039,1.464511,0.028572,1.360609,0.381827
20,(Thriller),(Crime),0.189479,0.120548,0.057863,0.305379,2.533256,0.035022,1.266089,0.746744
21,(Crime),(Thriller),0.120548,0.189479,0.057863,0.480000,2.533256,0.035022,1.558693,0.688214
22,(Drama),(Romance),0.478356,0.169315,0.101260,0.211684,1.250236,0.020267,1.053746,0.383693
23,(Romance),(Drama),0.169315,0.478356,0.101260,0.598058,1.250236,0.020267,1.297810,0.240947
24,(Drama),(War),0.478356,0.040219,0.031014,0.064834,1.612015,0.011775,1.026321,0.727811
25,(War),(Drama),0.040219,0.478356,0.031014,0.771117,1.612015,0.011775,2.279087,0.395568
26,(Horror),(Thriller),0.096110,0.189479,0.043397,0.451539,2.383052,0.025186,1.477810,0.642080
27,(Thriller),(Horror),0.189479,0.096110,0.043397,0.229034,2.383052,0.025186,1.172413,0.716046
28,(Mystery),(Thriller),0.059507,0.189479,0.036055,0.605893,3.197672,0.024779,2.056601,0.730758
29,(Thriller),(Mystery),0.189479,0.059507,0.036055,0.190283,3.197672,0.024779,1.161509,0.847940
30,(Sci-Fi),(Thriller),0.086795,0.189479,0.028932,0.333333,1.759206,0.012486,1.215781,0.472579
31,(Thriller),(Sci-Fi),0.189479,0.086795,0.028932,0.152689,1.759206,0.012486,1.077769,0.532450
32,"(Drama, Comedy)",(Romance),0.104000,0.169315,0.035068,0.337197,1.991536,0.017460,1.253291,0.555664
33,(Romance),"(Drama, Comedy)",0.169315,0.104000,0.035068,0.207120,1.991536,0.017460,1.130057,0.599355
34,"(Drama, Thriller)",(Crime),0.087123,0.120548,0.032000,0.367296,3.046884,0.021497,1.389989,0.735911
35,"(Drama, Crime)",(Thriller),0.067616,0.189479,0.032000,0.473258,2.497673,0.019188,1.538742,0.643112
36,(Thriller),"(Drama, Crime)",0.189479,0.067616,0.032000,0.168884,2.497673,0.019188,1.121845,0.739805
37,(Crime),"(Drama, Thriller)",0.120548,0.087123,0.032000,0.265455,3.046884,0.021497,1.242778,0.763880

In [107]:
rules_movies[(rules_movies.conviction>1.25)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Adventure),(Action),0.122411,0.169315,0.058301,0.476276,2.812955,0.037575,1.586111,0.734401
1,(Action),(Adventure),0.169315,0.122411,0.058301,0.344337,2.812955,0.037575,1.338475,0.775868
4,(Sci-Fi),(Action),0.086795,0.169315,0.040986,0.472222,2.789015,0.026291,1.573929,0.702416
7,(Action),(Thriller),0.169315,0.189479,0.062904,0.371521,1.960746,0.030822,1.289654,0.589863
8,(Children),(Adventure),0.063890,0.122411,0.029260,0.457976,3.741299,0.021439,1.619096,0.782722
10,(Fantasy),(Adventure),0.071671,0.122411,0.030685,0.428135,3.497518,0.021912,1.534608,0.769213
12,(Sci-Fi),(Adventure),0.086795,0.122411,0.027726,0.319444,2.609607,0.017101,1.289519,0.675424
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122,0.944736
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205,0.929930
16,(Children),(Comedy),0.063890,0.363288,0.032877,0.514580,1.416453,0.009666,1.311672,0.314077
19,(Romance),(Comedy),0.169315,0.363288,0.090082,0.532039,1.464511,0.028572,1.360609,0.381827
20,(Thriller),(Crime),0.189479,0.120548,0.057863,0.305379,2.533256,0.035022,1.266089,0.746744
21,(Crime),(Thriller),0.120548,0.189479,0.057863,0.480000,2.533256,0.035022,1.558693,0.688214
23,(Romance),(Drama),0.169315,0.478356,0.101260,0.598058,1.250236,0.020267,1.297810,0.240947
25,(War),(Drama),0.040219,0.478356,0.031014,0.771117,1.612015,0.011775,2.279087,0.395568
26,(Horror),(Thriller),0.096110,0.189479,0.043397,0.451539,2.383052,0.025186,1.477810,0.642080
28,(Mystery),(Thriller),0.059507,0.189479,0.036055,0.605893,3.197672,0.024779,2.056601,0.730758
32,"(Drama, Comedy)",(Romance),0.104000,0.169315,0.035068,0.337197,1.991536,0.017460,1.253291,0.555664
34,"(Drama, Thriller)",(Crime),0.087123,0.120548,0.032000,0.367296,3.046884,0.021497,1.389989,0.735911
35,"(Drama, Crime)",(Thriller),0.067616,0.189479,0.032000,0.473258,2.497673,0.019188,1.538742,0.643112

In [108]:
rules_movies[(rules_movies.conviction>1.5)].sort_values(by=['lift','conviction'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205,0.929930
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122,0.944736
8,(Children),(Adventure),0.063890,0.122411,0.029260,0.457976,3.741299,0.021439,1.619096,0.782722
10,(Fantasy),(Adventure),0.071671,0.122411,0.030685,0.428135,3.497518,0.021912,1.534608,0.769213
28,(Mystery),(Thriller),0.059507,0.189479,0.036055,0.605893,3.197672,0.024779,2.056601,0.730758
0,(Adventure),(Action),0.122411,0.169315,0.058301,0.476276,2.812955,0.037575,1.586111,0.734401
4,(Sci-Fi),(Action),0.086795,0.169315,0.040986,0.472222,2.789015,0.026291,1.573929,0.702416
21,(Crime),(Thriller),0.120548,0.189479,0.057863,0.480000,2.533256,0.035022,1.558693,0.688214
35,"(Drama, Crime)",(Thriller),0.067616,0.189479,0.032000,0.473258,2.497673,0.019188,1.538742,0.643112
25,(War),(Drama),0.040219,0.478356,0.031014,0.771117,1.612015,0.011775,2.279087,0.395568

In [109]:
pd.options.display.max_rows=50
movies[(movies.genres.str.contains('Adventure')) & (movies.genres.str.contains('Children')) & (~movies.genres.str.contains('Animation'))]

,movieId,title,genres
1,2,Jumanji (1995),Adventure|Children|Fantasy
7,8,Tom and Huck (1995),Adventure|Children
56,60,"Indian in the Cupboard, The (1995)",Adventure|Children|Fantasy
98,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical
114,126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
...,...,...,...
8871,132046,Tomorrowland (2015),Action|Adventure|Children|Mystery|Sci-Fi
8916,135264,Zenon: Girl of the 21st Century (1999),Adventure|Children|Comedy
8917,135266,Zenon: The Zequel (2001),Adventure|Children|Comedy|Sci-Fi
8918,135268,Zenon: Z3 (2004),Adventure|Children|Comedy
8960,139620,Everything's Gonna Be Great (1998),Adventure|Children|Comedy|Drama